@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&display=swap');

@mixin display($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}
@mixin highlight($animationName) {
  animation-name: $animationName;
  animation-duration: 900ms;
  animation-iteration-count: 1;
  animation-direction: normal;
}
@mixin transition($transitionProperty, $transitionDuration, $transitionTimingFunction) {

  transition-property: $transitionProperty;
  -webkit-transition-property: $transitionProperty;
  -moz-transition-property: $transitionProperty;
  -o-transition-property: $transitionProperty;

  transition-duration: $transitionDuration;
  -webkit-transition-duration: $transitionDuration;
  -moz-transition-duration: $transitionDuration;
  -o-transition-duration: $transitionDuration;

  transition-timing-function: $transitionTimingFunction;
  -webkit-transition-timing-function: $transitionTimingFunction;
  -moz-transition-timing-function: $transitionTimingFunction;
  -o-transition-timing-function: $transitionTimingFunction;
}

$bodyFont:'Montserrat', sans-serif;
$blue: rgb(68, 68, 230);
$headerColor: rgba(128, 128, 128, 0.249);

* {
  font-family: $bodyFont;
  font-size: .9em;
}

.globalControls { 
  background-color: rgba(0, 0, 255, 0.173);
  height: 7vh;
  min-height: 40px;
  @include display(flex, space-evenly, center);
  
  .control{
    box-sizing: border-box;
    position: relative;
    @include display(flex, space-evenly, center);
    height: 100%;
    width: 30%;
    border: 2px solid transparent;
    padding: 2px;
    
  }
  .outline {
    border: 1px solid black;
    animation: 2000ms ease-out 1 fill;
    &:hover div {
      display: block;
    }
  }
}


span.PrivateValueLabel-label-5 {
  color: white;
  background-color: transparent;
  font-size: .7em;
}
span.PrivateValueLabel-circle-4 {
  color: transparent;
  display: flex;
  align-items: center;
}
span.PrivateValueLabel-offset-3 {
  top: 6px;
  left: -4px;
}

.MuiSlider{
  &-root {
    width: 100%;
    margin-left: 1vw;
    position: relative;
  }
  
  &-thumbColorPrimary {
    position: absolute;
    height: 25px;
    width: 25px;
    top: .9vh;
    font-size: .7em;
    // transform: scale(2);
    background-color: #3f51b5;
    color: white;

  }
}

.info {
  z-index: 1;
  // align-self: none;
  // display: block;
  position: absolute;
  top: 7vh;
  // left: 25%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  // height: 50px;
  text-align: center;
  width: 100%;
  padding: 6px;
  animation: 200ms cubic-bezier(.1, -1, .3, 1.1) 1 slideDown;
  display: none;
}

@keyframes slideDown {
  from {
    top: -200vh;
  }
  to {
    top: 7vh;
  }
}
@keyframes bounce {
from {
  top: 30px;
}
25% {
  top:26px;
}
75% {
  top:30px;
}

}


#button {
  @include display(flex, space-evenly, center);
  height:75%;
  width: 100px;
  cursor: pointer;
  background-color: rgba(26, 135, 26, 0.5);
  border: 2px solid white;
  color: black;
  opacity: 1;

  @include transition(opacity, 300ms, ease-in);

  &:hover {
    @include transition(opacity, 300ms, ease-in);
    opacity: .7;
  }
  &:active {
    border: none;
  }
  &.stop {
    background-color: rgba(211, 31, 11, 0.5);
  }

}


#button .MuiSvgIcon-root {
  color: white;
  height: 100%;
  width: 45%;
  display: inherit;
}

.blinkBox {
  padding: 0 1vh;
  display: flex;
  width: 50%;
  flex-direction: column;
  height: 75vh;
  background-color: #fce4d809;
  &:first-of-type {
    align-items: flex-end;
    .sideBody div {
      justify-content: flex-end;
    }
  }
  .subtitle{
    @include display(flex,center ,center );
    width: 60%;
    height: 6%;
    h2 {
      font-weight: bolder;
      font-size: 1.1em;
    }
  }
}

.sideBody{
  height: 86%;
  width: 60%;
  display: flex;
  flex-direction: column;
  div {
    justify-self: stretch;
    flex-grow: 5;
    display: flex;
    
  }
}



.container {
  display: flex;
}

label + .info {
  top: 6vh;
  width: 90%;

}

.sideHeader {
  @include display(flex, space-evenly, center);

  width: 60%;
  height: 8%;
  flex-direction: row;
  p {
    font-size: .8em;
    color: red;
    width: 37%;
  }

  .sideControl {
    width: 50%;
    height: 100%;
    @include display(flex,space-between,center);
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 0 2px;
    margin: 0 2px;

    &.outline {
      border: 1px solid black;
      animation: 500ms ease-out 1 fill;
      &:hover div {
        display: block;
      }
    }
  }

  input {
    width: 55%;
    text-align: left;
    &.error {
      border: red solid 1px;
      border-radius: 3px;
      outline-offset: 1px;
    }
  }
  select {
    width: 55%;
  }
}
