@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&display=swap');

@mixin display($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}
@mixin highlight($animationName) {
  animation-name: $animationName;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-direction: normal;
}
@mixin transition($transitionProperty, $transitionDuration, $transitionTimingFunction) {

  transition-property: $transitionProperty;
  -webkit-transition-property: $transitionProperty;
  -moz-transition-property: $transitionProperty;
  -o-transition-property: $transitionProperty;

  transition-duration: $transitionDuration;
  -webkit-transition-duration: $transitionDuration;
  -moz-transition-duration: $transitionDuration;
  -o-transition-duration: $transitionDuration;

  transition-timing-function: $transitionTimingFunction;
  -webkit-transition-timing-function: $transitionTimingFunction;
  -moz-transition-timing-function: $transitionTimingFunction;
  -o-transition-timing-function: $transitionTimingFunction;
}

$bodyFont:'Montserrat', sans-serif;

* {
  font-family: $bodyFont;
}

header {
  height: 10vh;
  @include display(flex, center, center);
  background-color: rgba(128, 128, 128, 0.249);
}
h1 {
  font-family: 'Audiowide', cursive;
  font-size: 3em;
}

.globalControls { 
  background-color: rgba(0, 0, 255, 0.173);
  height: 7vh;
  @include display(flex, space-between, center);

  & div{
    @include display(flex, space-evenly, center);
    width: 50%;
    height: 100%;
  }
}

button {
  @include display(flex, space-evenly, center);
  height:75%;
  width: 100px;
  cursor: pointer;
  background-color: rgba(26, 135, 26, 0.5);
  border: 2px solid white;
  color: black;
  opacity: 1;

  @include transition(opacity, 300ms, ease-in);

  &:hover {
    @include transition(opacity, 300ms, ease-in);
    opacity: .7;
  }
  &:focus {
    outline: none;
  }
  &:active {
    border: none;
  }
  &.stop {
    background-color: rgba(211, 31, 11, 0.5);
  }

}


.MuiSvgIcon-root {
  color: white;
  height: 100%;
  width: 45%;
  display: inherit;
}
.blinkBox {
  display: flex;
  width: 50%;
  flex-direction: column;
  height: 75vh;
  border: 2px solid black;
  &:first-of-type {
    .sideBody div {
      justify-content: flex-end;
      padding-right: 5px;
    }
  }
}

.sideBody{
  height: 100%;
  display: flex;
  flex-direction: column;
  div {
    justify-self: stretch;
    flex-grow: 5;
    display: flex;
    padding-left: 5px;
  }
}
.square {
  height: 50%;
  max-height: 50px;
  max-width: 50%;
}
.right.square {
  background-color: pink;
}


.right.square.highlight {
  @include highlight(fadeRight)
}
@keyframes fadeRight {
  from {
    background-color: magenta;
  }
  to {
    background-color: pink;
  }
}

.left.square {
  background-color: mediumaquamarine;
}
.left.square.highlight {
  @include highlight(fadeLeft)
}

@keyframes fadeLeft {
  from {
    background-color: mediumspringgreen;
  }
  to {
    background-color: mediumaquamarine;
  }
}
.container {
  display: flex;
}
.sideHeader {
  width: 100%;
  height: 10vh;
  @include display(flex, space-evenly, center)
}
