@import 'App';

header {
  display: flex;
  @include display(flex, space-between, center);
  flex-direction: row;
  height: 7vh;
  background-color: $headerColor;
  div {
    @include display(flex, flex-start, center);
    width: 50%;
  }
  h1 {
    font-family: "Audiowide", cursive;
    font-size: 1.5em;
    margin-left: 1%;
  }
  img {
    margin-left: 3%;
    height: 5vh;
    &:active {
      animation-name: flip;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-timing-function: linear;
    }
  }

  div:last-of-type {
    justify-content: flex-end;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-self: self-end;
    margin-right: 3%;
    height: 100%;
    .MuiSvgIcon-root {
      color: black;
      @include transition(color, 300ms, ease-in-out);
      &:hover {
        color: $blue;
      }
    }
  }
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(359deg);
  }
}

@media only screen and (max-width: 600px){
  header {
    div:last-of-type {
      width: 10%;
    }
    div:first-of-type {
      width: 100%;
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  header {
    height: 5vh;
    img {
      height: 3.5vh;
    }
  }

}
@media only screen and (max-device-width: 700px) and (orientation: landscape) {
  header {
    height: 10vh;
    img {
      height: 7vh;
    }
  }
}