// Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// Styling

#button {
  height: 20px;
  width: 100px;
}
.blinkBox {
  display: flex;
  width: 50%;
  flex-direction: column;
  height: 75vh;
  border: 2px solid black;
  &:first-of-type {
    .sideBody div {
      justify-content: flex-end;
      padding-right: 5px;
    }
  }
}

.sideBody{
  height: 100%;
  display: flex;
  flex-direction: column;
  div {
    justify-self: stretch;
    flex-grow: 5;
    display: flex;
    padding-left: 5px;
  }
}
.square {
  height: 50%;
  max-height: 50px;
  max-width: 50%;
}
.right.square {
  background-color: pink;
}
.right.square.highlight {
  background-color: magenta;
}
.left.square {
  background-color: mediumspringgreen;
}
.left.square.highlight {
  background-color: mediumaquamarine;
}
.container {
  display: flex;
}
.sideHeader {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 10vh;
  align-items: center;
}
